# Create a Python virtual environment and install the dependencies listed below
# by running the following commands:
#
# - Windows (using PowerShell):
#     py -m venv env
#     env\bin\Activate.ps1
#     py -m pip install -r tools\requirements.txt
#
# - Windows (using Cygwin/MSys2), Linux or macOS:
#     python3 -m venv env
#     source env/bin/activate
#     pip3 install -r tools/requirements.txt

numpy  >= 1.19.4
Pillow >= 8.2.0
